name: lj

on:
  push:
    branches: [main]
  schedule:
    - cron: '20 9 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
  - uses: actions/checkout@v2

  - name: Install Python
    run: |
      sudo apt update && \
      sudo apt install python3
  - name: Checkin
    env:
      COOKIE: ${{ secrets.COOKIE }}
    run: |
      python lj.py 