name: checkin

on:
  push:
    branches: [ main ]
  schedule:
    - cron:   13 6 * * * 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Python
      run: |
        sudo apt update && \
        sudo apt install python3
        
    - name: Checkin
      env:
        NAME: ${{ secrets.NAME }}
      run: |
        python xust_checkin.py 
